.blog-frame {
  width: 70%;
  margin: 60px auto;
}

.list-style {
  margin-bottom: 20px;
}

.post-content {
  margin-top: 80px;
}

.post-categories {
  margin:50px 0 50px 0;
  color: darkgray;
}

.new-post-title {
  width: 500px;
}

.new-post-categories {
  width: 500px;
}

.new-post-content {
  width: 100%;
  height: 200px
}

.new-post-button {
  margin-right: 30px;
}